<ion-view view-title="Persatuan Rugby Union Indonesia">
  <ion-content>
    <ion-list>
    	<ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Lastest News</h1>
          </ion-header-bar>
          <ion-content>
            <div>
              <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                <div class="box blue"><img src="img/images.jpg"></div>
                </ion-slide>
                <ion-slide>
                <div class="box yellow"><img src="img/rusa.jpg"></div>
                </ion-slide>
                <ion-slide>
                <div class="box pink"><img src="img/ionic.png"></div>
                </ion-slide>
              </ion-slide-box>

            </div>
            
            
            <p>content</p>
          </ion-content>
        </ion-view>
    </ion-list>
  </ion-content>
</ion-view>
